*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.full_box{
        width: 80%;
        margin: auto;
        border: 2px solid;
        padding: 2%;
}
.row{
    margin: 0%;
}
.target_icon_link{
    font-size: x-large;
}
.name_of_target{
    width: 94%;
    padding-left: 16px;
}
.discripion_heading{
    width: 31%;
}
.disc_textarea, .activity_input{
    width: 88%;
    margin-left: auto;
}
.activity_heading{
    width: 27%;
}
.hide_activity_btn{
    text-decoration: none !important;
}
.close_btn{
    font-size: x-large
}
.user_cart{
    border-radius: 5px solid;
    margin-bottom: 10px;
}
.user_cart:focus, .user_cart:hover{
    box-shadow: none !important;
    background-color: #d3d3d3;
}
.user_name{
    width: 5%;
    border-radius: 50%  ;
}
.user_name_letter{
    margin: 6px 10px;
}
